@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section styles {
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/CustomSiteCss/LoginRegisterStyles.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
}

<div class="text-center" style="padding:50px 0">
    <div class="logo">Login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "text-left", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>
                    New user? @Html.ActionLink("Create New Account", "Register", "Account")
                </p>
            </div>
            <p>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
            <p>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }
    </div>
    <!-- end:Main Form -->
    <div>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}