@model TechZone.Models.ViewModels.Customer.CustomerProfileViewModel
@{
    ViewBag.Title = "ProfilePage";
}

@*<img src="@ViewBag.ImageData" />*@

<div class="row">
    <div class="col-md-3">
        <div class="text-center">
            @if (Model.ImageData == null)
            {
                <img src="//placehold.it/100" class="avatar img-circle" alt="@Model.FullName Profile Picture">
            }
            else
            {
                <img src="@Model.ImageData" class="avatar img-rounded img-responsive" alt="@Model.FullName Profile Picture">
            }
            <h6>Change Profile Picture</h6>

            @using (Html.BeginForm("UploadPicture", "Customers", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <label class="btn btn-success btn-md" for="my-file-selector">
                    <input id="my-file-selector" type="file" name="picture" style="display: none;">
                    Browse
                </label>
                <input type="submit" value="Upload" class="btn btn-default btn-md" style="border: none"/>
                @Html.ValidationSummary("", new {@class = "text-danger"})
            }
        </div>
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(vm => vm.PurchasesHistory, "CustomerPurchasesHistory")      
    </div>
</div>