@model IEnumerable<TechZone.Models.ViewModels.Admin.ManageProductViewModel>

@{
    foreach (var product in Model)
    {
        <tr>
            <td>@Html.DisplayFor(vm => product.Id)</td>
            <td>
                @Html.ActionLink(product.Name, "Details", "Products", new { area = "", id = product.Id }, null)
            </td>
            <td>@Html.DisplayFor(vm => product.Quantity)</td>
            <td>$@Html.DisplayFor(vm => product.Price)</td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", "Control", new { area = "Admin", id = product.Id }, new { @class = "btn btn-warning btn-xs" })
                @using (Html.BeginForm("ToggleProductAvailability", "Control", new { area = "Admin" }, FormMethod.Post, new { style = "display:inline" }))
                {
                    <input type="hidden" name="id" value="@product.Id" />
                    if (product.IsAvailable)
                    {
                        <input type="submit" value="Disable" class="btn btn-danger btn-xs" />
                    }
                    else
                    {
                        <input type="submit" value="Enable" class="btn btn-success btn-xs" />
                    }
                }
            </td>
        </tr>
    }
}