@model IEnumerable<TechZone.Models.ViewModels.Products.GeneralProductPageViewModel>

@{
    if (!Model.Any())
    {
        <h2>No results. Please try another search!</h2>
    }
    else
    {
    int counter = 0;
    foreach (var product in Model)
    {
        if (counter % 4 == 0)
        {
            @:<div class="row">
        }
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 15px;" id="@product.Id">
            <div class="col-item">
                <div class="post-img-content" style="vertical-align: middle">
                    <a href="@Url.Action("Details", "Products", new {id = product.Id})">
                        <img src="@product.ImageUrl" class="img-responsive" alt="@product.Name" width="350" height="260" />
                    </a>
                    @if (product.Discount != 0)
                    {
                        <span class="round-tag">-@product.Discount%</span>
                    }
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-sm-7">
                            <h5> @product.Name</h5>
                            <h5 class="price-text-color">
                                @if (product.Discount != 0)
                                {
                                    <del>$@product.Price</del> @:$@product.FinalPrice.ToString("0.00")
                        }
                                else
                                {
                                    @:$@product.Price
                        }
                            </h5>
                        </div>
                        <div class="rating hidden-sm hidden-md col-sm-5">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (Math.Round(product.Rating) >= i)
                                {<i class="price-text-color fa fa-star"></i>}
                                else
                                {<i class="fa fa-star"></i>}
                            }
                        </div>
                    </div>
                    <div class="separator clear-left">
                            @using (Ajax.BeginForm("AddToShoppingCart", "Purchase", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                UpdateTargetId = "shopping-cart"
                            }, new { role = "form", style = "display: inline; margin-top:8px", @class = "btn-add" }))
                            {
                                @Html.AntiForgeryToken()
                                <i class="fa fa-shopping-cart"></i>
                                <input type="hidden" value="@product.Id" name="id" />
                                <a href="#" type="submit" class="hidden-sm"><input type="submit" value="Add to cart" style="background-color: transparent; border-color: transparent"/></a>
                            }
                        <p class="btn-details">
                            <i class="fa fa-list"></i>
                            @Html.ActionLink("More details", "Details", "Products", new { id = product.Id }, new { @class = "hidden-sm" })
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
        if (counter % 4 == 3 || counter == Model.Count() - 1)
        {
            @:</div>
        }
            counter++;
        }
    }

}