@model TechZone.Models.ViewModels.Products.ProductDetailsViewModel
@{
    ViewBag.Title = "Details";
}

@section styles {
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/ProductDetails.css">
    <style>
    .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    }
    .stars {
        margin: 20px 0;
        font-size: 24px;
        color: #d17581;
    }
    </style>
}

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">
                        <img id="item-display" src="@Model.ImageUrl" alt="@Model.Name">
                    </div>
                    <div class="col-md-7">
                        <div class="product-title">@Model.Name</div>
                        <div class="product-rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (Math.Round(Model.Rating) >= i)
                                {<i class="fa fa-star gold"></i>}
                                else
                                {<i class="fa fa-star-o"></i>}
                            }
                        </div>
                        <hr>
                        <div class="product-price">
                            @if (Model.Discount != 0)
                            {
                                <del>$@Model.Price</del> @:$@Model.FinalPrice.ToString("0.00")
                            }
                            else
                            {
                                @:$@Model.Price
                            }
                        </div>
                        <div class="product-stock">
                            @if (Model.Quantity == 0)
                            {
                                <span style="color: red">Out of stock</span>
                            }
                            else
                            {
                                @:In Stock
                            }
                        </div>
                        <hr>
                        <div class="btn-group cart">
                            @using (Html.BeginForm("AddToShoppingCart", "Purchase", FormMethod.Post))
                            {
                                @Html.HiddenFor(vm => vm.Id);
                                <input type="submit" value="Add to Cart" class="btn btn-success"/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                    <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                    <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <section class="container product-info">
                            @Model.Description
                        </section>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        @Html.Action("HardwareSpecs", Model.Id)
                        <section class="container"></section>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        @Html.Action("ProductReviews", Model.Id)
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/CustomScripts/ProductReviews.js"></script>
}