@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Admin<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Products", "Products", "Control", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Users", "Users", "Control", new { area = "Admin" }, null)</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Trainer"))
            {
                <li>@Html.ActionLink("Trainer", "Courses", "Trainer")</li>
            }
            <li>
                <a href="@Url.Action("UserProfile", "Customers")">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="text">@User.Identity.GetUserName()</span>
                </a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="text">Log off</span>
                </a>
            </li>
            @Html.Action("CountOfProductsInCart", "Purchase")
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerLink">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="text">Register</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <span class="text">Login</span>
            </a>
        </li>
        @Html.Action("CountOfProductsInCart", "Purchase")
    </ul>
}