@model IEnumerable<TechZone.Models.ViewModels.Moderator.EvaluateReportViewModel>
@{
    ViewBag.Title = "EvaluateReports";
}

<div class="container" style="margin-top: 30px;">
    <h2 style="color: blue ">Welcome to the moderator page!</h2>
    @foreach (var report in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4" id="reportId_@report.Id">
            <table class="table table-responsive table-bordered text-center">
                <tr class="bg-success">
                    <th>@Html.LabelFor(vm => report.SubmittedBy)</th>
                    <td>@Html.DisplayFor(vm => report.SubmittedBy)</td>
                </tr>
                <tr class="bg-success">
                    <th>@Html.LabelFor(vm => report.Title)</th>
                    <td>@Html.DisplayFor(vm => report.Title)</td>
                </tr>
                <tr class="bg-success">
                    <th>@Html.LabelFor(vm => report.Description)</th>
                    <td>@Html.DisplayFor(vm => report.Description)</td>
                </tr>
                <tr class="bg-danger">
                    <th>@Html.LabelFor(vm => report.CommentOffender)</th>
                    <td>@Html.DisplayFor(vm => report.CommentOffender)</td>
                </tr>
                <tr class="bg-danger">
                    <th>@Html.LabelFor(vm => report.CommentContent)</th>
                    <td>@Html.DisplayFor(vm => report.CommentContent)</td>
                </tr>
                <tr class="text-center">
                    <td colspan="2">
                        @Html.ActionLink("View", "Details", "Reviews", new {id = report.ReviewId, area = ""}, new {@class = "btn btn-warning"})
                        @using (Ajax.BeginForm("DismissReport", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnSuccess = "toggleReport('" + report.Id + "')"
                        }, new { style = "display: inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@report.Id"/>
                            <input type="submit" class="btn btn-success" value="Dismiss"/>
                        }
                        @using (Ajax.BeginForm("IssueWarning", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnSuccess = "toggleReport('" + report.Id + "')"
                        }, new { style = "display: inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@report.Id"/>
                            <input type="submit" class="btn btn-danger" value="Warn"/>
                        }
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<script>
    function toggleReport(reportId) {
        var divToToggle = '#reportId_' + reportId;
        $(divToToggle).toggle("slow");
    }
</script>